<div class="container todo-wrap">
    <div class="row" [ngClass]="{'completed' : todoItem.isCompleted}" [hidden]="todoItem.isHidden">
        <div class="col-md-3 text-center text-md-start">{{todoItem.label}}</div>
        <div class="col-md col-sm-12 text-md-start text-center">{{todoItem.description}}</div>
        <div class="col-md-2 col-sm-4 text-center">{{todoItem.category}}</div>
        <div class="col-md-1 col-sm-4 text-center">
            <ng-container *ngIf="todoItem.isCompleted">
                <i class="bi bi-check2-all text-light" title="Completed on {{todoItem.completedOn | date: 'MMM d, y'}}"></i>
            </ng-container>
            <ng-container *ngIf="!todoItem.isCompleted">
                <i class="bi bi-hourglass text-info" title="Active"></i>
            </ng-container>
        </div>
        <div class="col-md-1 col-sm-4 text-center">
            <div class="d-flex flex-row-reverse justify-content-center mb-3 align-content-center">
                <button class="p-1 btn btn-link" (click)="openDeleteTodoModal(deleteConfirmation, todoItem.id)">
                    <i class="bi bi-x-lg" role="button"></i>
                </button>
                <button class="p-1 btn btn-link">
                    <i class="bi bi-pencil-square" role="button" (click)="openEditTodoModal(todoItem)"></i>
                </button>
                <button class="p-1 btn btn-link" *ngIf="!todoItem.isCompleted"
                    (click)="openCompleteTodoModal(completeConfirmation, todoItem)">
                    <i class="bi bi-check-circle" role="button"></i>
                </button>
                <button class="p-1 btn btn-link" *ngIf="todoItem.isCompleted"
                    (click)="openResetCompleteTodoModal(resetCompleteConfirmation, todoItem)">
                    <i class="bi bi-arrow-counterclockwise"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<ng-template #deleteConfirmation let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Remove Todo item</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure, you want to remove this item?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="c('Remove click')">Apply</button>
        <button type="button" class="btn btn-outline-dark" (click)="d('Cancel remove click')">Cancel</button>
    </div>
</ng-template>
<ng-template #completeConfirmation let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Complete Todo item</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure, you want to complete this item?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="c('Complete click')">Apply</button>
        <button type="button" class="btn btn-outline-dark" (click)="d('Cancel remove click')">Cancel</button>
    </div>
</ng-template>
<ng-template #resetCompleteConfirmation let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Reset Todo item</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure, you want to reset the complete state?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="c('Complete click')">Apply</button>
        <button type="button" class="btn btn-outline-dark" (click)="d('Cancel remove click')">Cancel</button>
    </div>
</ng-template>

<app-add-edit-todo [todoCategories]="todoCategories" [openModal]="openAddEditModal"
    (onCompleteAction)="editTodoItem.next($event)" (isCategorySelected)="isCategorySelected($event)">
</app-add-edit-todo>